@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');

body {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) ), url('./images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 2rem;
}

.container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 1.2rem;
}

.text {
  font-family: 'MuseoModerno', cursive;
  display: inline;
  color: #fff;
  font-size: 1.6rem;
}

input[type=number], select {
  font-family: 'MuseoModerno', cursive;
  background-color: rgba(53, 53, 53, 0.6);
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  font-size: 2rem;
}

.left-side {
  width: 60%;
  margin: auto;
}

.right-side {
  width: 30%;
  margin: auto;
}

.button {
  width: 75%;
  background-color: rgba(53, 53, 53, 0.6);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  margin: 15px;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  border: 1px solid #fff;
  cursor: pointer;
}

.result {
  font-size: 4rem;
}

@media (max-width: 960px) {
  .container {
    width: 80%;
    flex-direction: column;
  }
}