@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');

* {
  font-family: 'MuseoModerno', cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) ), url('./images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 2rem;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 16px 10px;
  background-color: rgb(121, 121, 121);
}

.nav-logo {
  display: inline;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
}

.nav-text {
  display: inline;
  font-size: 1.4rem;
  color: #fff;
}

.container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 1.2rem;
}

.calculator {
  display: flex;
  flex-direction: row;
}

.result-list {
  display: flex;
  flex-flow: row wrap;
}

.list-item {
  flex-direction: column;
  width: 15.4%;
  background-color: rgba(53, 53, 53, 0.6);
  margin: 2px 4px;
  padding: 2px 4px;
  color: #fff;
  border-radius: 3px;
  border: solid 1px #ccc;
}

.list-item span {
  display: block;
}

.text {
  display: inline;
  color: #fff;
  font-size: 1.6rem;
}

input[type=number] {
  background-color: rgba(53, 53, 53, 0.6);
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  font-size: 2rem;
}

input[type=text] {
  background-color: rgba(133, 133, 133, 0.6);
  width: 100%;
  padding: 4px 8px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
}

.left-side {
  width: 60%;
  margin: auto;
}

.right-side {
  width: 30%;
  margin: auto;
}

.button {
  width: 75%;
  background-color: rgba(53, 53, 53, 0.6);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  margin: 15px;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  border: 1px solid #fff;
  cursor: pointer;
}

.delete-button {
  cursor: pointer;
  width: 75%;
  background-color: rgba(53, 53, 53, 0.0);
  border: none;
  border-radius: 4px;
  color: rgb(255, 0, 0);
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.result {
  font-size: 4rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 16px 10px;
  background-color: rgb(121, 121, 121);
  color: #fff;
  text-align: right;
}

@media (max-width: 960px) {
  .container {
    width: 80%;
    flex-direction: column;
  }
}